:root {
  --primary-text-color: #000000;
  --background-color: #ffffff;
  --color-text1: #212121;
  --color-text2: #757575;
  --color-text-footer: rgba(255, 255, 255, 0.6);
  --link-color-change: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-command: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background: var(--background-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

footer {
  background-color: var(--background-color-dark);
}
/*portfolio*/
.button-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button {
  font-family: inherit;
}
/*index-portfolio*/
.hero-button,
.filter-button {
  cursor: pointer;
}
/*index*/
.hero-button {
  color: #ffffff;
  background-color: var(--link-color-change);
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--background-color);
  background-color: #188ce8;
}

/*portfolio*/
.filter-button {
  color: var(--color-text1);
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.63;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--link-color-change);
}
/*index-portfolio*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
}
/*index-portfolio*/
.logo-1 {
  color: #2196f3;
}
.logo-2 {
  color: #000000;
}

.logo-3 {
  color: #ffffff;
}
/*index*/
.site-nav-link a {
  color: var(--color-text1);
}
.site-nav-link a:hover,
.site-nav-link a:focus {
  color: var(--link-color-change);
}
.contacts-link a {
  color: var(--color-text2);
}
.contacts-link a:hover,
.contacts-link a:focus {
  color: var(--link-color-change);
}
.adress-link a {
  font-style: normal;
  color: var(--color-text-footer);
}
.adress-link a:hover,
.adress-link a:focus {
  color: var(--link-color-change);
}
.adress {
  color: var(--background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 2em;
}
/*index*/
.hero {
  color: #ffffff;
  background: var(--background-color-dark);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*index*/

.page-header {
  display: flex;
}
.images-what-are-we-doing,
.our-command,
.our-peculiarities {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.our-command {
  background-color: var(--background-color-command);
}

.header-2-hidden {
  opacity: 0;
}
.header-3,
.our-peculiarities-text {
  text-align: left;
}

.header-2 {
  color: var(--color-text1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.header-3 {
  color: var(--color-text1);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
.our-peculiarities-text {
  color: var(--color-text2);
  font-size: 14px;
  line-height: 2;
}
.our-command-title {
  color: var(--color-text1);
  font-weight: 500;
  text-align: center;
}
.our-command-text {
  color: var(--color-text2);
  line-height: 1.17;
  text-align: center;
}
.works-examples-title {
  color: var(--color-text1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works-examples-title:hover,
.works-examples-title:focus {
  color: var(--link-color-change);
}

.works-examples-text {
  color: var(--color-text1);
  line-height: 1.88;
}
